{% load static %}
<nav id="navbar">
    <div class="brand">
        <a href="/"><img src="{% static 'img/logo.svg' %}" width="100" alt="..."></a>
    </div>
    <div class="navigation-list">
        <ul>
            <li><a class="nav-item" href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
            <li><a class="nav-item" href="{% url 'about' %}"><i class="fa fa-info-circle"></i> About</a></li>
            <li><a class="nav-item" href="/#contactus"><i class="fa fa-phone"></i> Contact</a></li>
            <li><a class="navigation-signup-btn" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#signupModal"><i class="fa fa-user"></i> Signup</a></li>
        </ul>
    </div>
</nav>
