{% extends "base.html" %}
{% block title %}Admin - Users{% endblock title %}
{% load static %}
{% block css %}
<style>
    .action-delete, .action-edit {
        text-decoration: none;
        font-size: 20px;
    }
    .font-lg{
        font-size: 20px;
    }
    .btn-custom-bg {
        background-color: #d7f2fa;
    }
    .btn-custom-bg:hover {
        background-color: #8bdaf1;
    }
</style>
{% endblock css %}
{% block content %}

<div class="container mb-5 mt-3">
    <div class="text-center mb-3">
        <h1>User List</h1>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex gap-2">
            <input type="search">
            <a href="" class="float-end btn btn-sm btn-secondary"> <i class="fa fa-search"></i> Search</a>
        </div>
        <a href="" class="float-end px-4 d-flex gap-2 align-items-center btn btn-sm btn-custom-bg"> <i class="font-lg fa fa-plus-circle"></i> New user</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last Login</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Subscription</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Guest user</td>
                <td>23th september 2023</td>
                <td>test@admin.com</td>
                <td>+91 91939402384</td>
                <td>
                    <ul>
                        <li><a href="">course 1</a></li>
                        <li><a href="">course 2</a></li>
                        <li><a href="">course 3</a></li>
                    </ul>
                </td>
                <th>
                    <div class="d-flex gap-3 align-items-center">
                        <a class="action-edit" href=""><i class="text-secondary fa fa-pencil"></i> </a>
                        <a class="action-delete" href="#"><i class="text-danger fa fa-trash-o"></i> </a>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
    </div>
</div>

{% endblock content %}
{% block js %}
<script>
    $(document).ready(function(){
        $(".action-delete").click(function(){
            Swal.fire({
                title: 'Warning!',
                text: 'Are you sure you want to delete this User?',
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor:"#d33",
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Yes',
                confirmCancelText: 'Cancel'
            })
        })
      })
  </script>
{% endblock js %}